.jumbotron {
    padding: 1rem;
    border-radius: 0rem;
}
.jumbotron2 {
    padding: 0.3rem;
}
.card {
    margin-bottom: 0.5rem;
}

@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 6vw;
    }
}

.shadow {

    box-shadow: none !important;

}
.nav-arrows a ,.nav-dots span {
    background-color: #cacaca ;
}

body {
    background-color: #1b191e;
}

.headCard {

    background-image: url('https://wallpapercave.com/wp/MXM8xm7.jpg');
    background-size: 100% 100%;

}

.card {
    margin: 0.5rem;
    background-size: 100% auto;
}
.card {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
    border-radius: 0;

}
.card .card-body .card-text {

    color: #fff;
    font-size: .7rem;

}

.card-body {
    background-color: rgba(0,0,0,0.7);
    color: #fff;
}

.eventCalendar {
    background-color: #dadada;
    padding: 4rem 2rem 1rem 2rem;
}
.eventList {
    background-color:#ececec;
    padding: 4rem 2rem 1rem 2rem;
}

.h5, h5 {

    font-size: 1rem;

}

.mainrow {
    margin-left: 0px;
    margin-right: 0px;

}

.mb-5, .my-5 {

    margin-bottom: 0rem !important;

}

.h2, h2 {
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

.h4, h4 {
    font-size: 1.5rem;
    font-weight: 400;
}

.navbar-brand {
    font-weight: bolder;
}
.nav-link {
    margin-left: 1rem;
}
.rgba-stylish-strong {
    background-color: rgba(23, 11, 39, 0.68);
}